/* ======== Rating Cards ============ */
.rating-cards{
    padding: 5% 5% 5% 5%;
    margin: 2% 2% 2% 2%;
    background-color: #0c1228;
    color: #fff;
    height: 200px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .rating-cards{
        height: 200px;
    }
  }


/*================= page scrollbar start ================*/
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c2c35;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cccfdb;
}

/* =============== Footer Card ===========================*/
.footer-card{
    background-color: #0c1228;
    color: #fff;
    width: 100%;
    height: 100%;
}

a .footer-card{
    padding-left: 5px;
    padding-right: 5px;
}