/* ======== Rating Cards ============ */
.rating-cards{
    padding: 5% 5% 5% 5%;
    margin: 2% 2% 2% 2%;
    background-color: #0c1228;
    color: #fff;
    height: 200px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .rating-cards{
        height: 200px;
    }
  }


/*================= page scrollbar start ================*/
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c2c35;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cccfdb;
}

/* =============== Footer Card ===========================*/
.footer-card{
    background-color: #0c1228;
    color: #fff;
    width: 100%;
    height: 100%;
}

a .footer-card{
    padding-left: 5px;
    padding-right: 5px;
}

/* ========== Contact cards =============*/
.contact-card{
    padding:20% 5% 20% 5%;
    height: 45%;
    margin: 4% 2% 4% 2%;
}

/* ======== Service Cards ============ */
.service-card{
    background-color: #0c1228;
    color: #fff;
    height: 250px;
    width: 100%;
    margin: 5% 5% 5% 5%;
    padding: 2% 2% 2% 2%;
}

@media only screen and (max-width: 600px) {
    .service-card{
        height: 200px;
    }
  }
